body.modo-oscuro img {
  filter: brightness(.8) contrast(1.2);
}
.modo-oscuro{
  background-color: rgb(47, 47, 47);
}
body.modo-oscuro h1 {
  color: #FDFEFE;
}
body.modo-oscuro p {
  color: #FDFEFE;
}
body.modo-oscuro footer {
  color: #FDFEFE;
}
.form-hardware input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-hardware input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-hardware {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 100px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}
.boton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.container{
  margin: auto;
  width: 100%;
  padding: 10px;
  vertical-align:auto;
  text-align: center;
  
}
.table{
  margin: auto;
  width: 50%;
}
.Tablas {
  margin: auto;
  padding: 20px;
  text-align: center;
}
.boton{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.consulta{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 1px;
}
.buscar{
  display: block;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
}
.Search{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.user{
  margin: auto;
  background-color:white;
}
html {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 1px solid
}
.dropdown-toggle {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}
.dropdown-menu{
  width: 50%;
}
.version{
  text-align: right;
  float: right;
  max-width: max-content;
  text-decoration: none;
  color: #000;
}
body.modo-oscuro .version {
  color: #FDFEFE;
}
