{% extends "base/base.html" %}
{% block content %}

<!doctype html>

  <head>
    <title>nueva chipset</title>
  </head>
   
<main class="form-hardware text-center">
  <form action="addchipset" method="POST" >
    <img class="mb-4" src="{{ url_for('static', filename='img/cpus.png') }}" alt="" width="100" height="80">
    <h1 class="h3 mb-3 fw-normal " >Complete el formulario para añadir un chipset</h1>
    <div class="form-floating">
      <input type="text" pattern=".{1,45}" title="Maximo 45 caracteres" required name ="marca" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">Marca</label>
    </div>
    <div class="form-floating">
      <input type="text" pattern=".{1,45}" title="Maximo 45 caracteres" required name="modelo"class="form-control" id="floatingPassword" placeholder="">
      <label for="floatingPassword">Modelo</label>
    </div>
    <div class="form-floating">
      <input type="number" min="1" max="100" required name="rendimiento"class="form-control" id="floatingPassword" placeholder="">
      <label for="floatingPassword">Rendimiento</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Añadir</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="mensaje">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </form> 
</main>
</body>
{% endblock %}