{% extends "base/base.html" %}
{% block content %}

<!doctype html>
<head>
    <title>consulta</title>
</head>

<body>
    <h1 class="Tablas"> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
            {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}    
    </h1>
    <main>

        <table  id="tematable" class='table table-striped table-bordered table-hover'>
          
            {% if resultados != []: %}
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Rendimiento</th>
            </tr>
            {% else %}
            {% endif %}

            {% for resultado in resultados %}

            <tr>
                <td class='col-md-1'>{{ resultado.0 }}</td>
                <td class='col-md-3'>{{ resultado.1 }}</td>
                <td class='col-md-3'>{{ resultado.2 }}</td>
                <td class='col-md-3'>{{ resultado.3 }}</td>                                                                         

            </tr>
            {% endfor %}


        </table>
</body> 
</html>	
{% endblock %}