{% extends "base/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>editar chipset</title>
</head>
<body>
    
<main class="form-signin text-center">
  <form action="/editarchipset/{{chipset.0}}" method="POST" >
    <img class="mb-4" src="{{ url_for('static', filename='img/cpus.png') }}" alt="" width="100" height="80">
    <h1 class="h3 mb-3 fw-normal">Editar chipset</h1>
    <br>
    <div class="form-floating">
      <input type="text" required id="marca" name="marca" class="form-control"  value="{{ chipset.1 }}" id="floatingInput" placeholder="">
      <label for="floatingInput">Marca</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="text" required id="modelo" name="modelo"class="form-control" value="{{ chipset.2 }}" id="floatingPassword" placeholder="">
      <label for="floatingPassword">Modelo</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="number" required  id="rendimiento" name="rendimiento"class="form-control" value="{{ chipset.3 }}" id="floatingPassword" placeholder="">
      <label for="floatingPassword">Rendimiento</label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" name="modificar"  type="submit" >Modificar</button>
    <input type="hidden" name="id" value=" " >
  </form>
</main>
</body>
</html>
{% endblock %}